{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">
                        <i class="bi bi-box-arrow-in-down"></i>
                        {{ titulo }}
                    </h4>
                </div>
                <div class="card-body">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        
                        <div class="d-flex justify-content-between mt-4">
                            <a href="{% url 'carga_diaria_listar' %}" class="btn btn-secondary">
                                <i class="bi bi-arrow-left"></i>
                                Volver
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="bi bi-save"></i>
                                Crear Carga
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
